/* @use "node_modules/@angular/material" as mat;
/*
 
@import "../../../../styles-variables.scss";
@mixin app-error-component-theme($theme) {
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn); */

/* .success{
  color: black;
  background-color: rgb(0, 0, 0);
}

.blue-snackbar {
  background: #05192b;
}
 */