.modal-add .modal-header {
  color: #fff;
  background-color: #05233c !important;
}

.modal-edit .modal-header {
  color: #fff;
  background-color: #6b7458 !important;
}

.modal-lg {
  margin-top: 5px !important;
  max-width: 1330px;
}
.modal-md {
  max-width: 960px;
}
.mat-card_summary{
  margin: 0.1%;
  background-color: #ffdedc;
  border-radius: 0.1%;
  background-position: center;
  background-size: cover;
  padding: 2px;
  min-width: 80px;
  max-width: 80px;
 
}
